[submodule "armor_py_api"]
	path = armor_py_api
	url = https://github.com/EmaroLab/armor_py_api.git
[submodule "cluerosity"]
	path = cluerosity
	url = https://github.com/Omotoye/cluerosity.git
[submodule "assignment2"]
	path = assignment2
	url = https://github.com/CarmineD8/assignment2.git
